#ignore vs
server/.vs/

#ignore obj
server/obj/

#ignore bin
server/bin/

#ignore migrations
server/Migrations/
#ignore emailServiceSettings
EmailService/appsettings

#ignore client
client/node_modules/
